// style
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    font-family: monospace;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{

}

.media{
    list-style: none;
    display: flex;
    gap: 10px;
}

.time{
	text-align: center;
}

h1{
	text-align: center;
}
